header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 1rem;
    color: #25239e;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li:not(:last-child) {
    margin-right: 1rem;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }

  .sun-button {
    background-color: #25239e;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .signin-button {
    background-color: #25239e;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .signin-button:hover {
    background-color: #555;
  }
  